[submodule "devops-poc-salt"]
	path = devops-poc-salt
	url = git@github.com:Thr4wn/devops-poc-salt.git
[submodule "devops-poc-app"]
	path = devops-poc-app
	url = git@github.com:Thr4wn/devops-poc-app.git
